body
{
	background-color: #4e4e4e;
}


.img-rounded
{
	border-radius: 15px;
	border: 0px;
}

.panel-side
{
	position: inherit;
	text-align: center;
	background-color: #8f8f8f;
	border-radius: 15px;
	box-shadow: 7px 7px 5px;
	display: flex;
	flex-direction: column;
	max-width: 250px;
	min-width: 200px;
	justify-content: space-evenly;
	max-height: 10%;
}

.panel-center
{
	border-radius: 15px;
	box-shadow: 7px 7px 5px;
	max-height: 75%;
	height: 50%;
}

.img-main
{
	
}

.img-small
{
	max-height: 15px;
	max-width:  15px;
	position: relative;
}

.img-pannel
{
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: auto;
}

.img-banner
{
	box-shadow: 7px 7px 5px;
	flex-grow: 1;
	text-align: center;
}
.img-icon
{
	max-width: inherit;
	max-height: 80px;
	height: 100%;
	width: auto;
	flex-grow: 1;
	border: 0px;
}

.img-click
{
    position: relative;
    text-align: right; 
}

.my-carousel
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 5px;
}

.brick-wrap
{
	max-height: 100px;
	max-width: 150px;
	margin-left: 20px;
	flex-grow: 1;
	background-image: url("./resources/brick.jpg");
	overflow: hidden;
}